<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partial/head %>

    <title>Student Affairs System | </title>

  </head>

  <style media="screen">
    #school{
      background-color: powderblue;
      border-radius: 10px;
    }
    #academic{
      margin-left: 10px;
      width: 314px;
      height: 33px;
    }
    #data{
      margin-left: 180px;
    }
  </style>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/home" class="site_title"><i class="fa fa-leaf"></i> <span>Student Affairs</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <% include ../partial/menu_profile %>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <% include ../partial/sidebar %>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <% include ../partial/menu_footer %>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <% include ../partial/top_nav %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">


            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="background-color: powderblue; color: black;">
                  <div class="x_title">
                    <h2> Add Student Exam Mark</h2>
                    <div class="clearfix"></div>
                  </div>
                  <form action="/admin/users/updatemark" method="post" class="form-horizontal form-label-left" novalidate>
                    <input type="hidden" name="id" value="<%=users.student_id %>">
                    <input type="hidden" name="major" value="<%= users.major %>">
                    <input type="hidden" name="year" value="<%= users.s_year %>">

                    <div class="col-md-8 col-sm-6 col-xs-12 profile_left" id="data">

                      <div class="item form-group" id="data">
                        <h2><b> Student ID: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.student_id %></h2>
                        <h2><b>Name: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.name %></h2>
                        <h2><b>Major: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.major %></h2>
                        <h2><b>Roll Number: </b> &nbsp <%= users.roll_no %></h2>
                      </div>


                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subj">Subject <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <select class="optional form-control col-md-7 col-xs-12" id="subj" name="subj" style="height: 35px" required="required">
                            <option value=""><-- Select Subject --></option>
                            <% for(var i = 0; i < subj.length; i++) { %>
                              <option value="<%= subj[i].sub_name %>"><%= subj[i].sub_name %></option>
                            <% } %>
                          </select>
                        </div>
                      </div>


                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mark">Exam Mark
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="text" id="mark" name="mark" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" align="center">
                          <button type="submit" class="btn btn-success">Save</button>
                        </div>
                      </div>

                    </div>

                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <% include ../partial/footer %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- script content -->
    <% include ../partial/script %>
    <!-- /script content -->

  </body>

</html>
