<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partial/head %>

    <title>Student Affair System | </title>

  </head>
  <style media="screen">
    #info{
      padding-top: 185px;
    }
    #school{
      background-color: powderblue;
      border-radius: 10px;
    }
  </style>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><i class="fa fa-leaf"></i> <span>Student Affair</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <% include ../partial/menu_profile %>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <% include ../partial/sidebar %>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <% include ../partial/menu_footer %>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <% include ../partial/top_nav %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">


            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="background-color: powderblue; color: black;">
                  <div class="x_title">
                    <h2>Registration Old Student</h2>
                    <div class="clearfix"></div>
                  </div>
                  <form id="frm" action="/admin/users/modify" method="post" class="form-horizontal form-label-left" novalidate>
                    <input type="hidden" name="old_stuid" value="<%= users.old_stuid %>">
                    <div class="col-md-6 col-sm-3 col-xs-12 profile_left">

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="photo">
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <img src="/images/<%= users.photo %>" alt="Student Photo" onerror="this.src='/images/nouser.png'" width="150" height="150" >
                          <input id="photo" name="photo" type="file" accept="image/x-png,image/gif,image/jpeg" required="required">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="student_id">Academic Year
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="text" id="academic" class="form-control col-md-7 col-xs-12" name="academic" readonly value="<%= users.academic %>">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="student_id">Student ID
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="text" id="student_id" class="form-control col-md-7 col-xs-12" name="student_id" readonly value="<%= users.student_id %>">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="text" id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" value="<%= users.name %>" required="required">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Year <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <select class="optional form-control col-md-7 col-xs-12" name="s_year" style="height: 35px" required="required" id="s_year">
                            <option value="1BE">First Year</option>
                            <option value="2BE">Second Year</option>
                            <option value="3BE">Third Year</option>
                            <option value="4BE">Forth Year</option>
                            <option value="5BE">Five Year</option>
                            <option value="6BE">Sixth Year</option>
                          </select>
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Major <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <select class="optional form-control col-md-7 col-xs-12" name="major" style="height: 35px" required="required" id="major">
                            <option value="Civil">Civil</option>
                            <option value="EC">EC</option>
                            <option value="EP">EP</option>
                            <option value="IT">IT</option>
                            <option value="MC">MC</option>
                            <option value="MP">MP</option>
                          </select>
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="roll_no">Roll Number <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="text" id="roll_no" name="roll_no" class="form-control col-md-7 col-xs-12" value="<%= users.roll_no %>" required="required">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nrc_no">NRC No. <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="NRC" id="nrc_no" name="nrc_no" class="form-control col-md-7 col-xs-12" value="<%= users.nrc_no %>" required="required">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="birthday">Birthdate <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="date" id="birthday" name="birthday" class="form-control col-md-7 col-xs-12" value="<%= users.birthday %>" required="required">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="religion">Religion <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="text" id="religion" name="religion" class="form-control col-md-7 col-xs-12" value="<%= users.religion %>">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nationality">Nationality <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="text" id="nationality" name="nationality" class="form-control col-md-7 col-xs-12" value="<%= users.nationality %>" required="required">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label for="address" class="control-label col-md-3">Address</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input id="address" type="address" name="address" class="form-control col-md-7 col-xs-12" value="<%= users.address %>" required="required">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label for="phone_no" class="control-label col-md-3 col-sm-3 col-xs-12">Phone No. </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input id="phone_no" type="tel" name="phone_no" class="form-control col-md-7 col-xs-12" value="<%= users.phone_no %>" required="required">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          Male:
                          <input type="radio" class="flat" name="gender" id="gender" value="Male" required="required" class="col-md-8 col-sm-6 col-xs-12" />
                          Female:
                          <input type="radio" class="flat" name="gender" id="gender" value="Female" class="col-md-8 col-sm-6 col-xs-12"/>

                        </div>
                      </div>

                    </div>

                    <div class="col-md-6 col-sm-3 col-xs-12 profile_left" id="info">

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="father_name">Father Name <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="text" id="father_name" class="form-control col-md-7 col-xs-12" name="father_name" value="<%= users.father_name %>" required="required">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="f_nrc">NRC No.
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="NRC" id="f_nrc" class="form-control col-md-7 col-xs-12" name="f_nrc" value="<%= users.f_nrc %>" required="required">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="f_occupation">Occupation <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="text" id="f_occupation" name="f_occupation" value="<%= users.f_occupation %>" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="f_religion">Religion <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="text" id="f_religion" name="f_religion" class="form-control col-md-7 col-xs-12" value="<%= users.f_religion %>">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="f_nationality">Nationality <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="text" id="f_nationality" name="f_nationality" value="<%= users.f_nationality %>" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mother_name">Mother Name <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input id="mother_name" class="form-control col-md-7 col-xs-12" name="mother_name" value="<%= users.mother_name %>" required="required" type="text">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="m_nrc">NRC No.
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input id="m_nrc" class="form-control col-md-7 col-xs-12" name="m_nrc" required="required" value="<%= users.m_nrc %>" type="NRC">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="m_occupation">Occupation</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="text" id="m_occupation" name="m_occupation" value="<%= users.m_occupation %>" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="m_religion">Religion <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="text" id="m_religion" name="m_religion" value="<%= users.m_religion %>" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="m_nationality">Nationality <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="text" id="m_nationality" name="m_nationality" value="<%= users.m_nationality %>" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                    </div>

                    <div class="x_panel" id="school">

                      <div class="item form-group">
                        <label for="high_school_success_year" class="control-label col-md-4 col-sm-3 col-xs-12">High School Success Year <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="date" name="high_school_success_year" id="high_school_success_year" required="required" value="<%= users.high_school_success_year %>" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label for="high_school_roll_no" class="control-label col-md-4 col-sm-3 col-xs-12">High School Roll No. <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input type="text" name="high_school_roll_no" id="high_school_roll_no" required="required" value="<%= users.high_school_roll_no %>" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" align="center">
                        <button type="submit" class="btn btn-success">Modify</button>
                      </div>
                    </div>


                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <% include ../partial/footer %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- script content -->
    <% include ../partial/script %>
    <!-- /script content -->
  </body>
  <script type="text/javascript">
    $('#s_year').val("<%= users.s_year %>").change();
    console.log("<%= users.major %>");
    $('#major').val("<%= users.major %>").change();
    console.log("<%=users.gender%>");
    $('input:radio[name="gender"][value="<%=users.gender%>"]').attr('checked',true);
    console.log("<%= users.birthday %>");
      </script>
</html>
