<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partial/head %>

    <title>Student Affair | </title>

  </head>
  <style media="screen">
  h3{
    color: black;
  }
    #school{
      background-color: powderblue;
      margin-left: -10px;
      padding-top: 17px;
      padding-left: 20px;
      color: black;
      border-radius: 5px;
    }
    #family{
      margin-top: 20px;
      width: 500px;
      background-color: white;
      color: black;
      border-radius: 5px;
      padding-left: 20px;
      padding-top: 20px;
    }
    #personal{
      margin-top: 20px;
      width: 500px;
      background-color: white;
      color: black;
      border-radius: 5px;
      padding-left: 20px;
      padding-top: 20px;
    }
    h2{
      color: black;
    }
  </style>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><i class="fa fa-leaf"></i> <span>Student Affair</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <% include ../partial/menu_profile %>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <% include ../partial/sidebar %>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <% include ../partial/menu_footer %>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <% include ../partial/top_nav %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <form id="frm" action="/admin/users/new_remove" method="post">
          <input type="hidden" name="new_stuid" value="<%= users.new_stuid %>">

          <div class="x_panel">
            <div id="mainbody">


              <div class="x_title">
                <h2><b>Student Detail Veiw</b></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <h2><b> <%= users.academic - 1 %>-<%= users.academic %> </b> &nbsp Academic Year </h2>
                </ul>
                <div class="clearfix"></div>
              </div>

                  <div class="x_content">

                        <div class="profile_img">
                          <img src="/images/<%= users.photo %>" width="150px" height="150px" alt="Avatar" title="Student Photo">
                        </div>

                            <div class="x_panel tile fixed_height_600" style="background-color:powderblue;" id="personal">
                              <div class="x_title">
                                <h2><b>Student Info</b></h2>
                                <div class="clearfix"></div>
                              </div>


                                <h2><b> Student ID: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.student_id %> </h2>
                                <h2><b> Name: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.name %></h2>
                                <h2><b> NRC Number: </b> &nbsp <%= users.nrc_no %> </h2>
                                <h2><b> Birthdate: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.birthday %> </h2>
                                <h2><b> Gender: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.gender %> </h2>
                                <h2><b> Religion: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.religion %> </h2>
                                <h2><b> Nationality: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.nationality %> </h2><br><br>

                                <div class="x_title">
                                  <h2><b>Other Info</b></h2>
                                  <div class="clearfix"></div>
                                </div>

                                <h2><b> Address: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.address %> </h2>
                                <h2><b> Phone: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.phone_no %> </h2><br><br><br>


                              <div class="clearfix"></div>
                            </div>



                            <div class="x_panel tile fixed_height_600" style="background-color:powderblue;" id="family">
                              <div class="x_title">
                                <h2><b>Father</b></h2>
                                <div class="clearfix"></div>
                              </div>


                              <h2><b> Name: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.father_name %> </h2>
                              <h2><b> NRC Number: </b> &nbsp <%= users.f_nrc %> </h2>
                              <h2><b> Occupation: </b> &nbsp&nbsp&nbsp&nbsp <%= users.f_occupation %> </h2>
                              <h2><b> Religion: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.f_religion %> </h2>
                              <h2><b> Nationality: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.f_nationality %> </h2><br>

                                <div class="x_title">
                                  <h2><b>Mother</b></h2>
                                  <div class="clearfix"></div>
                                </div>

                                <h2><b> Name: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.mother_name %> </h2>
                                <h2><b> NRC Number: </b> &nbsp <%= users.m_nrc %> </h2>
                                <h2><b> Occupation: </b> &nbsp&nbsp&nbsp&nbsp <%= users.m_occupation %> </h2>
                                <h2><b> Religion: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.m_religion %> </h2>
                                <h2><b> Nationality: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.m_nationality %> </h2><br><br><p></p>


                              <div class="clearfix"></div>
                            </div>



                    <div class="col-md-12 col-sm-6 col-xs-12">
                      <div class="x_panel tile fixed_height_300" id="school">
                        <div class="x_title">
                          <h2><b>High School Info</b></h2>
                          <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                          <h2><b>School Name: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.high_school_name %></h2>
                          <h2><b>High School Success Year: </b> &nbsp&nbsp&nbsp&nbsp&nbsp <%= users.high_school_success_year %> </h2>
                          <h2><b>High School Roll Number: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.high_school_roll_no %>  </h2>
                          <h2><b>High School Total Mark: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.high_school_total_mark %></h2>
                          <h2><b>Deptment of Examiner: </b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= users.examiner_dep %></h2><br>

                          <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                              <li role="presentation" class="active"><a href="#mat_cer" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Matriculation Certificate</a>
                              </li>
                              <li role="presentation" class=""><a href="#subject_mark" id="home-tab2" role="tab" data-toggle="tab" aria-expanded="false">High School Subject Mark</a>
                              </li>
                              <li role="presentation" class=""><a href="#health" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Health Recommendation</a>
                              </li>
                              <li role="presentation" class=""><a href="#police" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Police Recommendation</a>
                              </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">


                              <div role="tabpanel" class="tab-pane fade active in" id="mat_cer" aria-labelledby="home-tab">
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <img src="/images/<%= users.mat_cer %>" alt="" style="width: 300px; height: 400px"><br>
                              </div>


                              <div role="tabpanel" class="tab-pane fade" id="subject_mark" aria-labelledby="home-tab2">
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <img src="/images/<%= users.high_school_subject_mark %>" alt="" style="width: 300px; height: 400px"><br>
                              </div>


                              <div role="tabpanel" class="tab-pane fade" id="health" aria-labelledby="profile-tab">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <img src="/images/<%= users.health_rec %>" alt="" style="width: 300px; height: 400px"><br>
                              </div>


                              <div role="tabpanel" class="tab-pane fade" id="police" aria-labelledby="profile-tab">
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <img src="/images/<%= users.police_rec %>" alt="" style="width: 300px; height: 400px"><br>
                              </div>


                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" align="center">
                      <button class="btn btn-primary" type="submit"><a href="javascript:del()" style="color: white"> Delete</a></button>
                      <button class="btn btn-primary" type="button"><a href="/admin/users/new_modify/<%=users.new_stuid%>" style="color: white"> Modify </a></button>
                      <button type="button" class="btn btn-success"><a href="/admin/users/new_list"  style="color: white">Go to List</a></button>
                    </div>
                  </div>

                  </form>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <!-- /footer content -->
        </div>
        </div>
      </div>
    </div>

    <% include ../partial/script %>

  </body>

  <script type="text/javascript">
    function del(){
      if(confirm('Are you sure?')){
        frm.submit();
      }
    }
    <%- (messages.info) ? `alert('${messages.info}')` : '' %>
  </script>

</html>
