<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partial/head %>

    <title>Student Affair | </title>

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><i class="fa fa-leaf"></i> <span>Student Affair</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <% include ../partial/menu_profile %>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <% include ../partial/sidebar %>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <% include ../partial/menu_footer %>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <% include ../partial/top_nav %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

          <div class="x_title">
            <h5><b><a href="../">Home</a> > Student Registration > <a href="/admin/users/new"> New Student </a> > <a href="#">Detail view</a> </b></h5>
            <div class="clearfix"></div>
          </div>

          <div class="">

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Student Details View</h2>
                    <div class="clearfix"></div>
                  </div>
                  <form id="frm" action="/admin/users/new_remove" method="post">
                  <input type="hidden" name="new_stuid" value="<%= users.new_stuid %>">
                  <div class="x_content">
                    <div class="col-md-4 col-sm-3 col-xs-12 profile_left">
                      <div class="profile_img">
                        <div>
                          <!-- Current avatar -->
                          <img src="/images/<%= users.photo %>" width="150" height="150" alt="Avatar" title="Student Photo">
                        </div>
                      </div>
                      <h3><%= users.name %></h3>

                      <!-- start skills -->
                      <h2> Student ID: <%= users.student_id %> </h2>
                      <h2> NRC Number: <%= users.nrc_no %> </h2><br>
                      <h2> Birthdate: <%= users.birthday %> </h2><br>
                      <h2> Gender: <%= users.gender %> </h2><br>
                      <h2> Religion: <%= users.religion %> </h2><br>
                      <h2> Nationality: <%= users.nationality %> </h2><br>
                      <h2> Address: <%= users.address %> </h2><br>
                      <h2> Phone: <%= users.phone_no %> </h2>

                      <!-- end of skills -->

                    </div>
                    <div class="col-md-8 col-sm-9 col-xs-12">

                      <div class="profile_title">
                        <div class="col-md-12">

                          <h2>Father Name: <%= users.father_name %> </h2><br>
                          <h2>Father NRC Number: <%= users.f_nrc %> </h2><br>
                          <h2>Father Occupation: <%= users.f_occupation %> </h2><br>
                          <h2>Father Religion: <%= users.f_religion %> </h2><br>
                          <h2>Father Nationality: <%= users.f_nationality %> </h2><br>
                          <h2>Mother Name: <%= users.mother_name %> </h2><br>
                          <h2>Mother NRC Number: <%= users.m_nrc %> </h2><br>
                          <h2>Mother Occupation: <%= users.m_occupation %> </h2><br>
                          <h2>Mother Religion: <%= users.m_religion %> </h2><br>
                          <h2>Mother Nationality: <%= users.m_nationality %> </h2><br>
                          <h2>High School Name: <%= users.high_school_name %> </h2><br>
                          <h2>High School Success Year: <%= users.high_school_success_year %> </h2><br>
                          <h2>High School Roll Number: <%= users.high_school_roll_no %>  </h2><br>
                          <h2>Department of examiner: <%= users.examiner_dep %> </h2><br>






                          <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                              <li role="presentation" class="active"><a href="#subject_mark" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">High School Subject Mark</a>
                              </li>
                              <li role="presentation" class=""><a href="#health" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Health Recommendation</a>
                              </li>
                              <li role="presentation" class=""><a href="#police" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Police Recommendation</a>
                              </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                              <div role="tabpanel" class="tab-pane fade active in" id="subject_mark" aria-labelledby="home-tab">

                                <!-- start recent activity -->
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <img src="/images/<%= users.high_school_subject_mark %>" alt="" style="width: 300px; height: 400px"><br>
                                <!-- end recent activity -->

                              </div>
                              <div role="tabpanel" class="tab-pane fade" id="health" aria-labelledby="profile-tab">

                                <!-- start user projects -->
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <img src="/images/<%= users.health_rec %>" alt="" style="width: 300px; height: 400px"><br>
                                <!-- end user projects -->

                              </div>
                              <div role="tabpanel" class="tab-pane fade" id="police" aria-labelledby="profile-tab">
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <img src="/images/<%= users.police_rec %>" alt="" style="width: 300px; height: 400px"><br>
                              </div>
                            </div>
                          </div>




                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" align="center">
                      <button class="btn btn-primary" type="submit"><a href="javascript:del()" style="color: white"></a> Delete</button>
                      <button class="btn btn-primary" type="button"><a href="/admin/users/new_modify/<%=users.new_stuid%>" style="color: white"> Modify </a></button>
                      <button type="button" class="btn btn-success"><a href="/admin/users/new_list"  style="color: white">Go to List</a></button>
                    </div>
                  </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <% include ../partial/footer %>
        <!-- /footer content -->
      </div>
    </div>

    <% include ../partial/script %>

  </body>

  <script type="text/javascript">
    function del(){
      if(confirm('Are you sure?')){
        frm.submit();
      }
    }
    <%- (messages.info) ? `alert('${messages.info}')` : '' %>
  </script>

</html>
